torch>=1.6.0
torchvision>=0.7.0
fastapi[all]
SQLAlchemy
alembic
cryptography
pymysql
numpy
pandas
torchvision
opencv-python
psutil
tqdm
seaborn
pydantic
uvicorn
matplotlib
pillow
mysql-connector-python
PyJWT
passlib
bcrypt